<!DOCTYPE html>

<html>

<head>
	<title>About</title>
	<link rel="icon" href="/img/icon.jpeg">
	<link rel="stylesheet" href="/css/styles.css">
</head>

<body>
	<div class="main-content">
	</div>
	
	{{>footer}}
</body>

</html>