<!DOCTYPE html>

<html>

<div class="content">
    <head>
        <title>Tapahtumakalenteri</title>
        <link rel="stylesheet" href="/css/styles.css">
    </head>

    <body>
        <div class="main-content">
            {{>header}}
            <iframe src={{calendar_url}} style="border: 0" width="620" height="600" frameborder="0" scrolling="no"></iframe>
        </div>
        
        {{>footer}}
    </body>
</div>

</html>