<!DOCTYPE html>

<html>

<div class="content">
	<head>
		<title>Etusivu</title>
		<link rel="stylesheet" href="/css/styles.css">
	</head>

	<body>
		<div class="main-content">
			{{>header}}
			<p>Kanootteja ja perseitä</p>
		</div>

		{{>footer}}
	</body>
</div>

</html>