<!DOCTYPE html>

<html>

<head>
	<title>mbile.fi</title>
	<link rel="stylesheet" href="/css/styles.css">
</head>

<body>
	<div class="main-content">
		{{>header}}
		<p>Kaanotteja ja perseitä</p>
	</div>

	{{>footer}}
</body>

</html>