<!DOCTYPE html>

<html>

<div class="content">
	<head>
		<title>Logokilpailu</title>
		<link rel="stylesheet" href="/css/styles.css">
	</head>

	<body>
		<div class="main-content">
			{{>header}}
			<div class="gallery">
        <div class="logo">
          <img src="/img/logokilpailu/@sntri.jpg" />
          <h2>@sntri 1</h2>
        </div class="logo">
        <div class="logo">
          <img src="/img/logokilpailu/@sntri2.jpg" />
          <h2>@sntri 2</h2>
        </div>
        <div class="logo">
          <img src="/img/logokilpailu/@sntri3.jpg" />
          <h2>@sntri 3</h2>
        </div>
        <div class="logo">
          <img src="/img/logokilpailu/@jorppa.jpg" />
          <h2>@jorppa 1</h2>
        </div>
        <div class="logo">
          <img src="/img/logokilpailu/@aukkis.jpg" />
          <h2>@aukkis 1</h2>
        </div>
      </div>
		</div>

		{{>footer}}
	</body>
</div>

</html>