<!DOCTYPE html>

<html>

<div class="content">
	<head>
		<title>Leffa / sarjahaku</title>
		<link rel="stylesheet" href="/css/styles.css">
	</head>

	<body>
		<div class="main-content">
			{{>header}}

        <form>
			<input placeholder="Nimi">
			<button>Etsi</button>
		</form>

		<p id="messageOne"></p>
		<p id="messageTwo"></p>


		</div>

		{{>footer}}
	</body>
    <script src="/js/movies.js"></script>
</div>

</html>